/* Desktop */
@media screen and (min-width: 900px){
    #footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* Mobile */
@media screen and (max-width: 900px){
    #footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* Really short Mobile */
@media screen and (max-height: 575px){
    #footer {
        position: initial;
    }
}

#footer {
    color: var(--color-text);
    background-color: var(--color-red);
    padding: 10px;
    font-family: 'Staatliches', 'Comic Sans MS', sans-serif;
    font-size: 1em;
    text-align: center;
}

#footer * {
    display: inline-block;
}

#footer p {
    max-width: 500px;
    margin: 0 auto;
}

#footer #socialLinks #twitter {
    height: 20px;
}

#footer #socialLinks * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}