<div id="footer">
    <p>Made with &hearts; by <a href="https://hadenwatne.com" target="_blank">Cynicalvoe</a> &copy; 2018 - 2020 • Share this page: </p>
    
    <div id="socialLinks">
        <!-- Twitter -->
        <div id="twitter">
            <a href="https://twitter.com/intent/tweet?button_hashtag=WhyAmIALoser&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="I finally figured out why I&#39;m a loser!" data-url="https://whyamialoser.com" data-lang="en" data-show-count="false">Tweet #WhyAmIALoser</a>
        </div>

        <!-- Facebook -->
        <div id="facebook">
            <div class="fb-share-button" data-href="https://whyamialoser.com" data-layout="button" data-size="small">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwhyamialoser.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
            </div>
        </div>
    </div>
</div>