/* Desktop */
@media screen and (min-width: 900px){
    #footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* Mobile */
@media screen and (max-width: 900px){
    #footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* Really short Mobile */
@media screen and (max-height: 700px){
    #footer {
        position: initial;
        margin-top: 25px;
    }
}

#footer {
    color: var(--color-text);
    background-color: var(--color-red);
    padding: 10px;
    font-family: 'Staatliches', 'Comic Sans MS', sans-serif;
    font-size: 1em;
    text-align: center;
}

#footer p {
    max-width: 500px;
    margin: 0 auto;
}