<div class="flex justify-center items-center min-h-[75vh]">
  <div class="lg:w-4/5 2xl:w-3/5 text-center bg-gray-100 shadow-md p-4 rounded-md">
    <h1 class="font-staatliches text-3xl my-2">We're All Losers.</h1>
    <p class="font-comicSans my-3">
      Have you ever wondered why you might be a loser? I do all the time! That's why I built
      <strong class="text-red-900 font-normal">Why am I a Loser?</strong>
      - a website dedicated to helping people answer this very serious question. Using the power of the Internet, you can click through all of the
      hilarious reasons sent in by other users, or suggest a new one yourself!
    </p>
    <p class="font-comicSans my-3 text-sm bg-gray-200 p-2 rounded-sm">
      <strong class="text-red-900 font-normal">Why am I a Loser?</strong>
      is for entertainment purposes only. Comments made here do not necessarily reflect the opinions of the site owner.
    </p>
    <p class="font-staatliches mt-3">
      Made with &hearts; by
      <a href="https://hadenwatne.com" target="_blank">@hwdotexe</a>
      &copy; 2018 - 2023
    </p>
  </div>
</div>
