@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

h1, #content, #reason {
    font-family: 'Coming Soon', sans-serif;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

hr {
    border: 1px solid #888;
    width: 40%;
}

#again {
    border: none;
    border-radius: 10px;
    height: 50px;
    background: linear-gradient(#ddd, #999);
    font-size: 18px;
    font-weight: bold;
    font-family: 'Coming Soon', sans-serif;
    color: white;
    margin: 30px 0;
}

#again:hover, #again:focus {
    background: linear-gradient(#ccc, #888);
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 40px;
        text-align: center;
    }

    #content {
        margin: 10px 15px;
        text-align: center;
    }

    #reason {
        font-size: 40px;
        animation: fadeIn 1s;
        margin: 0 15px;
    }

    #again {
        width: 100%;
    }
}

@media screen and (min-width: 769px){
    h1 {
        font-size: 30px;
        text-align: center;
    }

    #content {
        margin: 10px;
        text-align: center;
    }

    #reason {
        font-size: 36px;
        animation: fadeIn 1s;
        margin: 0 10px;
    }

    #again {
        width: 30%;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}