<div class="bg-red-700 text-white text-center text-sm font-staatliches p-2 lg:py-3">
    <p>Made with &hearts; by <a href="https://hadenwatne.com" target="_blank">@hwdotexe</a> &copy; 2018 - 2022</p>
    <p class="inline-block">Share this page:</p>
    
    <div class="inline-block">
        <!-- Twitter -->
        <div class="inline-block mx-1">
            <a href="https://twitter.com/intent/tweet?button_hashtag=WhyAmIALoser&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="I finally figured out why I&#39;m a loser!" data-url="https://whyamialoser.com" data-lang="en" data-show-count="false">Tweet #WhyAmIALoser</a>
        </div>

        <!-- Facebook -->
        <div class="inline-block mx-1">
            <div class="fb-share-button" data-href="https://whyamialoser.com" data-layout="button" data-size="small">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwhyamialoser.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
            </div>
        </div>
    </div>
</div>