<div class="bg-red-800 text-white text-center text-sm font-staatliches p-2 absolute bottom-0 w-full lg:py-3">
  <div class="flex justify-center">
    <p class="self-center mx-3">
      Made with &hearts; by
      <a href="https://hadenwatne.com" target="_blank">@hwdotexe</a>
      &copy; 2018 - 2022
    </p>
    <a href="https://ko-fi.com/J3J8ET4OE" target="_blank" class="inline-block flex-initial self-center">
      <img height="36" class="border-0 h-9" src="https://storage.ko-fi.com/cdn/kofi1.png?v=3" alt="Buy Me a Coffee at ko-fi.com" />
    </a>
  </div>
</div>
