<div class="bg-red-800 p-2 lg:p-4 flex font-staatliches">
  <div class="inline-block align-middle flex-initial">
    <img src="../../../assets/img/loser.png" class="max-w-[5rem] inline-block" />
    <h2 class="inline-block align-middle mx-2 lg:mx-4 text-white text-xl lg:text-2xl">Why am I a Loser?</h2>
  </div>

  <div class="flex-1"></div>

  <a
    class="inline-block align-middle flex-initial text-white text-lg lg:text-xl underline self-center"
    href="https://forms.gle/7Grxvwu7712DVGeu8"
    target="_blank">
    Suggest Your Own
  </a>
</div>
