/* Desktop */
@media screen and (min-width: 900px){
    #header h1 {
        font-size: 50px;
        text-align: center;
        letter-spacing: 10px;
    }
}

/* Mobile */
@media screen and (max-width: 900px){
    #header h1 {
        font-size: 40px;
        text-align: center;
        line-height: 60px;
    }
}

#header h1 {
    font-family: 'Bungee', cursive;
    margin: 10px;
}